// HelveticaNeue Regular
@font-face{
  font-family: "MaturaScript";
  src: url("/Fonts/Matura/MATURASC_1.TTF");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// HelveticaNeue Italic
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueItalic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueMediumItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/Fonts/HelveticaNeue/HelveticaNeueBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Montserrat Regular
@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Montserrat Italic
@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Fonts/Montserrat/Montserrat-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// SourceSansPro

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.semibold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// HelveticaNeue Italic
@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.light-italic.ttf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.italic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.semibold-italic.ttf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/Fonts/SourceSansPro/source-sans-pro.bold-italic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}